In [1]:
import sqlite3
# connecting to database 
connection = sqlite3.connect("my_database.db")

# cursor 
crsr = connection.cursor()

In [4]:
# SQL commanda to create a table 
sql_commands = '''CREATE TABLE sample1 (
    sid INTEGER PRIMARY KEY, 
    fname VARCHAR(20), 
    lname VARCHAR(20), 
    course_name VARCHAR(20),
    gender VARCHAR(1), 
    join_data DATE
    );'''

crsr.execute(sql_commands)
connection.commit()


# fetching daya
# primary key 

pk = [1, 2, 3, 4, 5]

# f_name of students 
f_name = ['Ajaya', 'Bisal', 'Bikash', 'Dinesh', 'Laxman']

# l_name of students 
l_name = ['Rai', 'Basent', 'Tamang', 'Phadara', 'Sapkota']

# gender of students 
gender = ['M', 'M', 'M', 'M', 'M']

# course name 
course_name = ['Python', 'Django', 'JS', 'React', 'SQL']

# data of join
date = ['01-01-2022', '01-01-2022', '01-01-2022', '01-01-2022', '01-01-2022']

for i in range(5):
    # this is a q-mark style 
    crsr.execute(
        f'''UPDATE sample1 SET ("{f_name[i]}", "{l_name[i]}", "{course_name[i]}", "{gender[i]}", {date[i]}) WHERE '''
    )
    connection.commit() 

# execute the statements  
# crsr.execute(sql_commands)

# To save the changes in the files. Never skip this.
# If we skip this, nothing will be saved in the database.

# connection.commit()

OperationalError: table sample1 already exists